<!DOCTYPE html>
<html>
<head>
  <title>Ben Cwik</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-59673522-3', 'auto');
    ga('send', 'pageview');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  
  <title>Ben Cwik</title>

</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
	<div class="masthead clearfix">
	  <div class="inner">
	    <h3 class="masthead-brand">BenCwik</h3>
	    <nav>
              <ul class="nav masthead-nav">
		<li class="active"><%= link_to "Home", root_path %></li>
		<li><%= link_to "GitHub", "https://github.com/bcwik9" %></li>
		<li><%= link_to "Projects", comingsoon_path %></li>
		<li><%= link_to "Contact", comingsoon_path %></li>
              </ul>
	    </nav>
	  </div>
	</div>

	<%= yield %>

	<div class="mastfoot">
	  <div class="inner">
	    <p>&copy; Ben Cwik 2015</p>
	  </div>
	</div>

      </div>
    </div>
  </div>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <%= javascript_include_tag 'ie10-viewport-bug-workaround' %>
  
  <%= stylesheet_link_tag 'bootstrap_and_overrides' %>
</body>
</html>
